[Unit]
Description={{ app_name }}
After=network.target

[Service]
WorkingDirectory=/var/www/app
Environment="SECRET_KEY_BASE={{ secret_key_base }}"
Environment="RAILS_ENV={{ rails_env }}"
Environment="RAILS_LOG_TO_STDOUT=1"
Environment="DB_HOST={{ db_host }}"
Environment="DB_PORT={{ db_port }}"
Environment="DB_NAME={{ db_name }}"
Environment="DB_USER={{ db_user }}"
Environment="DB_PASSWORD={{ db_password }}"

ExecStart=/bin/bash -c 'source /opt/rh/rh-ruby26/enable && /opt/rh/rh-ruby26/root/usr/local/bin/bundle exec rake db:migrate && /opt/rh/rh-ruby26/root/usr/local/bin/bundle exec puma -b unix:///var/run/puma.sock -e $RAILS_ENV config.ru'
ExecReload=/bin/kill -USR1 $MAINPID

SyslogIdentifier=puma

[Install]
WantedBy=multi-user.target
